.login{
	 font-size: 1.4rem;
    color: #fff;
    display: block;
    width: 40%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
    background-color: #1fc8a1;
    margin-top: 40px;
}
.my{
    width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
    position: absolute;
    left: 0;
    top: 100px;
}
.my li{ 
	display: block;
    width: 40%;
    height: 86px;
    line-height: 86px;
    background-color: #1fc8a1;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 10px;
    
}